.moduleTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;

    /* grayscale / black */

    color: #252733;
}

.formContainer {
    margin-top: 45px;
}