.devider {
    border-top: 2px solid rgba(54, 55, 64, 0.23);
    width: 100%;
    display: block;
    margin: 35px 0;
}

.uploadDoc {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 8px;
    margin-left: 15px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}